<%= form_for(@membership, html:{class: 'form-normal'}) do |f| %>
  <% if @membership.errors.any? %>
    <div id='error_explanation' class='bg-danger'>
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'paak会員番号' %><br>
    <%= f.number_field :paak_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'paak登録名' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label '該当ユーザーを選択' %><br>
    <%= f.select :user_id, options_for_select(@user_candidate.map{|user| [user.name, user.id]}), { prompt: 'なし' }, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit '保存', class: 'btn btn-primary' %>
  </div>
<% end %>
