<%= form_tag add_member_period_path, method: :put, class: 'form-inline' do %>
  <div class='form-group'>
    <%= number_field_tag :paak_id, params[:paak_id], class: 'form-control', placeholder: '会員番号' %>
  </div>
  <div class='form-group'>
    <%= text_field_tag :name, params[:name], class: 'form-control', placeholder: '名前' %>
  </div>
  <div class='form-group'>
    <%= select_tag :user_id, options_for_select(@user_candidate.map{|user| [user.name, user.id]}), class: 'form-control', prompt: 'ユーザーを選択（optional）' %>
  </div>
  <div class='form-group'>
    <%= submit_tag "追加する", class: 'btn btn-primary' %>
  </div>
<% end %>