<table class='table'>
  <thead>
    <tr>
      <th>名前</th>
      <th>Facebook</th>
      <th>メンバーシップ</th>
      <th>プロフィール（最初の30文字）</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td>
          <% if user.try(:facebook_url).present? %>
            <%= link_to user.facebook_url do %>
              <span class='fa fa-facebook' />
            <% end %>
          <% end %>
        </td>
        <td><%= user.latest_period.try(:explanation) %></td>
        <td><%= user.bio.try(:[], 0, 30) %></td>
        <td><%= link_to '詳細を見る', user %></td>
        <% if current_user.is_admin && deletable %>
          <td><%= link_to '削除', user, method: :delete, data: { confirm: '本当にこのユーザーを削除してもよろしいですか？' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>