<h1 class='title'><%= @user.name %></h1>
<% if current_user == @user %>
  <h2 class='sub-title'>This is you!</h2>
  <%= link_to '登録情報変更', edit_user_registration_path, class: 'btn btn-default' %>
  <%= link_to 'プロフィールの編集', edit_user_path(@user), class: 'btn btn-default' %>
<% end %>

<hr>

<div class='col-xs-12 col-sm-6 col-md-5 col-lg-4 user-image-container'>
  <%= image_tag @user.image_url.try(:+, '?width=300&height=300'), class: 'img-rounded', width: 300, height: 300 %>
</div>

<div class='col-xs-12 col-sm-6 col-md-7 col-lg-8 user-profile'>
  <p>
    <strong>名前</strong>
  </p>
  <p>
    <%= @user.name %>
  </p>

  <p>
    <strong>url</strong>
  </p>
  <p>
    <%= link_to @user.url, @user.url %>
  </p>

  <% if @user.try(:facebook_url).present? %>
    <p>
      <strong>facebook_url</strong>
    </p>
    <p>
      <%= link_to @user.facebook_url do %>
        <span class='fa fa-facebook' />
      <% end %>
    </p>
  <% end %>

  <p>
    <strong>bio</strong>
  </p>
  <p>
    <%= text_url_to_link( simple_format( sanitize @user.bio ) ).html_safe %>
  </p>
</div>

<div class='clearfix'></div>

<hr>
<%= link_to '戻る', users_path, class: 'btn btn-default' %>
