<h1 class='title'><%= @user.name %></h1>
<% if current_user = @user %>
  <h2 class='sub-title'>This is you!</h2>
<% end %>

<p>
  <strong>name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>url:</strong>
  <%= @user.url %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
