<h1 class='title'><%= @user.name %></h1>
<% if current_user = @user %>
  <h2 class='sub-title'>This is you!</h2>
  <%= link_to '登録情報変更', edit_user_registration_path, class: 'btn btn-default' %>
  <%= link_to 'プロフィールの編集', edit_user_path(@user), class: 'btn btn-default' %>
<% end %>

<hr>

<%= image_tag @user.image_url + '?width=200&height=200', class: 'img-rounded pull-left', width: 200, height: 200 %>

<div class='user-profile'>
  <p>
    <strong>名前</strong>
  </p>
  <p>
    <%= @user.name %>
  </p>

  <p>
    <strong>url</strong>
  </p>
  <p>
    <%= @user.url %>
  </p>

  <p>
    <strong>bio</strong>
  </p>
  <p>
    <%= @user.bio %>
  </p>
</div>

<div class='clearfix'></div>

<hr>
<%= link_to '戻る', users_path %>
