<h1 class='title'>入退館記録</h1>

<%= form_tag records_path, method: :post, class: 'record-form form-inline' do %>
  <div class="form-group">
    <%= select_tag :period_code, options_for_select(Period.codes.keys.to_a), prompt: '会員種別', class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= number_field_tag :paak_id, params[:paak_id], class: 'form-control', placeholder: '会員番号' %>
  </div>
  <div class='form-group'>
    <%= text_field_tag :card_id, params[:card_id], class: 'form-control', placeholder: 'カード番号（任意）' %>
  </div>
  <div class='form-group'>
    <%= text_field_tag :memo, params[:memo], class: 'form-control', placeholder: 'メモ（任意）' %>
  </div>
  <div class='form-group'>
    <%= submit_tag :enter, class: 'btn btn-primary' %>
  </div>
  <div class='form-group'>
    <%= submit_tag :leave, class: 'btn btn-danger' %>
  </div>
<% end %>

<table class='table records-table'>
  <thead>
    <tr>
      <th>期</th>
      <th>メンバー種別</th>
      <th>会員番号</th>
      <th>名前</th>
      <th>時間</th>
      <th>カード番号</th>
      <th>メモ</th>
      <th colspan='2'></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.membership.try(:period).try(:explanation) %></td>
        <td><%= record.membership.try(:period).try(:code) %></td>
        <td><%= record.membership.try(:paak_id) %></td>
        <td><%= record.membership.try(:name).try(:[], 0, 8) %></td>
        <td><%= record.timestamp.in_time_zone('Tokyo') %></td>
        <td><%= record.card_id %></td>
        <td>
          <%= form_tag record_path(record.id), method: :put, class: 'form-inline' do %>
            <div class="form-group">
              <%= text_field_tag :memo, record.memo, prompt: '会員種別', class: 'form-control' %>
            </div>
            <div class='form-group'>
              <%= submit_tag '保存', class: 'btn btn-default', data: { disable_with: "保存中..." } %>
            </div>
          <% end %>
        </td>
        <td class='record-code'>
          <% if record.code == 'enter' %>
            <span class='text-primary'>入館</span>
          <% elsif record.code == 'leave' %>
            <span class='text-danger'>退館</span>
          <% end %>
        </td>
        <td class='record-code'>
          <% if Membership.find_by(id: record.membership_id).last_record_id == record.id && record.enter? %>
            <%= form_tag leave_record_path(record.id), method: :put, class: 'form-inline' do %>
              <div class='form-group'>
                <%= submit_tag '退館させる', class: 'btn btn-danger' %>
              </div>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
