<h1 class='title'>プロジェクト一覧</h1>

<table class='table'>
  <thead>
    <tr>
      <th>名前</th>
      <th>所属</th>
      <th>Url</th>
      <th>概要</th>
      <th>メンバー</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.period.try(:explanation) %></td>
        <td><%= project.url %></td>
        <td><%= project.summary[0, 70] %></td>
        <td><%= project.users.pluck(:name).join(', ') %></td>
        <td><%= link_to '詳細を見る', project %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しくプロジェクトを作る', new_project_path, class: 'btn btn-default' %>
