<h1 class='title'>プロジェクト一覧</h1>

<table class='table'>
  <thead>
    <tr>
      <th>名前</th>
      <th>所属</th>
      <th>Url</th>
      <th class='project-summary'>概要</th>
      <th>メンバー</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.period.try(:explanation) %></td>
        <td><%= link_to '見る', project.url %></td>
        <td class='project-summary'><%= project.summary[0, 40] %></td>
        <td>
          <% project.users.each_with_index do |user, i| %>
            <%= link_to user.name, user %>
            <%= ', ' unless i == project.users.length - 1 %>
          <% end %>
        </td>
        <td><%= link_to '詳細を見る', project %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しくプロジェクトを作る', new_project_path, class: 'btn btn-default' %>
