<h1 class='title'><%= @project.name %></h1>

<p>
  <strong>所属:</strong>
</p>
<p>
  <%= @project.period.try(:explanation) %>
</p>

<p>
  <strong>Url:</strong>
</p>
<p>
  <%= @project.url %>
</p>

<p>
  <strong>概要:</strong>
</p>
<p>
  <%= @project.summary %>
</p>

<%= link_to '編集する', edit_project_path(@project), class: 'btn btn-default' %>
<%= link_to 'プロジェクト一覧に戻る', projects_path, class: 'btn btn-default' %>
