<h1 class='title'><%= @project.name %></h1>

<%= image_tag @project.image_url, class: 'img-rounded pull-left' %>

<p>
  <strong>所属</strong>
</p>
<p>
  <%= @project.period.try(:explanation) %>
</p>

<p>
  <strong>メンバー</strong>
</p>
<p>
  <% @project.users.pluck(:name).map do |name| %>
    <%= name %><br>
  <% end %>
</p>

<p>
  <strong>Url</strong>
</p>
<p>
  <%= @project.url %>
</p>

<p>
  <strong>概要</strong>
</p>
<p>
  <%= simple_format(h(@project.summary)) %>
</p>

<%= link_to '編集する', edit_project_path(@project), class: 'btn btn-default' if is_admin_or_project_member?(@project) %>
<%= link_to '削除する', @project, method: :delete, data: { confirm: '本当によろしいですか？' }, class: 'btn btn-default' if is_admin_or_project_member?(@project) %>
<%= link_to 'プロジェクト一覧に戻る', projects_path, class: 'btn btn-default' %>
