<h2 class='title'>ログイン</h2>

<!--<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-normal'}) do |f| %>
  <div class='form-group'>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
  </div>

  <div class='actions'>
    <%= f.submit 'Log in', class: 'btn btn-primary' %>
  </div>
<% end %> -->

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-primary'  do %>
      <span class='fa fa-facebook'></span>
      <%= "#{provider.to_s.titleize}でログイン" %>
    <% end %>
  <% end -%>
<% end -%>

<%= render 'devise/shared/links' %>
