<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="header-container">

    <div class='navbar-header'>
      <button class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#paak-navbar-collapse"
              aria-expanded="false">
        <span class="icon-bar icon-bar--top"></span>
        <span class="icon-bar icon-bar--middle"></span>
        <span class="icon-bar icon-bar--bottom"></span>
      </button>
      <%= link_to "PAAK Members Site", root_path, id: "logo", class: 'bavbar-brand text-muted pull-left' %>
    </div>

    <div class='collapse navbar-collapse' id='paak-navbar-collapse'>
      <ul class="nav navbar-nav navbar-left">
        <% if current_user %>
          <% if current_user.is_admin %>
            <li><%= link_to "Admin:メンバー管理", periods_path %></li>
            <li><%= link_to "Admin:入退館", records_path %></li>
          <% end %>
          <li><%= link_to "メンバー", users_path %></li>
          <li><%= link_to "プロジェクト", projects_path %></li>
          <li><%= link_to "マイページ", user_path(current_user) %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>