<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav class='collapse navbar-collapse'>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "PAAK Members Site", root_path, id: "logo" %></li>
          <% if current_user %>
            <% if current_user.is_admin %>
              <li><%= link_to "Admin:メンバー管理", periods_path %></li>
              <li><%= link_to "Admin:入退館", records_path %></li>
            <% end %>
            <li><%= link_to "メンバー", users_path %></li>
            <li><%= link_to "プロジェクト", projects_path %></li>
            <li><%= link_to "マイページ", user_path(current_user) %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>