<!DOCTYPE html>
<html>
<head>
  <title>PaakCommunity</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% if notice.present? %>
      <p class="bg-info main-notification"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="bg-danger main-notification"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
  <%= render 'shared/ga' %>
</body>
</html>
